[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
pygments = "*"
jsonpath-ng = "*"
ujson = "*"

[requires]
python_version = "3.6"
